--URL_DATASET=https://datasets-aiteam.s3.amazonaws.com/DATASET-5-FOTOS.zip
--BACKBONE_REF=efficientdet-d0
--NUM_EPOCHS=5
--TRAIN_BATCH_SIZE=1
--EVAL_BATCH_SIZE=1
--MODEL_CKPTS=/home/danieltc/AITuring/aituring_pipeline_efficientdet/efficientdet_aituring/workspace/result/output_test
--NUM_EXAMPLES_PER_EPOCH=100